In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
df = pd.read_excel("/content/drive/MyDrive/Gapminder_key_1 (1).xlsx")
df = pd.read_excel("/content/drive/MyDrive/Gapminder_key_2.xlsx")
df.merge(df,on = ['country','year'] ,how = "outer")

          country  year  life_exp_x   gdp_cap_x  life_exp_y   gdp_cap_y
0     Afghanistan  1952      28.801  779.445314      28.801  779.445314
1     Afghanistan  1957      30.332  820.853030      30.332  820.853030
2     Afghanistan  1962      31.997  853.100710      31.997  853.100710
3     Afghanistan  1967      34.020  836.197138      34.020  836.197138
4     Afghanistan  1972      36.088  739.981106      36.088  739.981106
...           ...   ...         ...         ...         ...         ...
1699     Zimbabwe  1987      62.351  706.157306      62.351  706.157306
1700     Zimbabwe  1992      60.377  693.420786      60.377  693.420786
1701     Zimbabwe  1997      46.809  792.449960      46.809  792.449960
1702     Zimbabwe  2002      39.989  672.038623      39.989  672.038623
1703     Zimbabwe  2007      43.487  469.709298      43.487  469.709298

[1704 rows x 6 columns]

In [ ]:
df.dtypes

country      object
year          int64
life_exp    float64
gdp_cap     float64
dtype: object

In [ ]:
df.shape

(1704, 4)

In [ ]:
df.describe

<bound method NDFrame.describe of           country  year  life_exp     gdp_cap
0     Afghanistan  1952    28.801  779.445314
1     Afghanistan  1957    30.332  820.853030
2     Afghanistan  1962    31.997  853.100710
3     Afghanistan  1967    34.020  836.197138
4     Afghanistan  1972    36.088  739.981106
...           ...   ...       ...         ...
1699     Zimbabwe  1987    62.351  706.157306
1700     Zimbabwe  1992    60.377  693.420786
1701     Zimbabwe  1997    46.809  792.449960
1702     Zimbabwe  2002    39.989  672.038623
1703     Zimbabwe  2007    43.487  469.709298

[1704 rows x 4 columns]>

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   country   1704 non-null   object
 1   year      1704 non-null   int64
 2   life_exp  1704 non-null   float64
 3   gdp_cap   1704 non-null   float64
dtypes: float64(2), int64(1), object(1)
memory usage: 53.4+ KB

In [ ]:
df.describe()

             year     life_exp        gdp_cap
count  1704.00000  1704.000000    1704.000000
mean   1979.50000    59.474439    7215.327081
std      17.26533    12.917107    9857.454543
min    1952.00000    23.599000     241.165876
25%    1965.75000    48.198000    1202.060309
50%    1979.50000    60.712500    3531.846988
75%    1993.25000    70.845500    9325.462346
max    2007.00000    82.603000  113523.132900

In [ ]:
#Country and continet are string data type. Please convert them into categorical data type using programming constructs.

for col in ['country','Continent']:
  df[col] = df[col].astype('category')
  df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   country   1704 non-null   category
 1   year      1704 non-null   int64
 2   life_exp  1704 non-null   float64
 3   gdp_cap   1704 non-null   float64
dtypes: category(1), float64(2), int64(1)
memory usage: 49.5 KB

KeyError: ignored

In [ ]:
Q2: count the number of countries in this dataset?

df['country'].unique

<bound method Series.unique of 0       Afghanistan
1       Afghanistan
2       Afghanistan
3       Afghanistan
4       Afghanistan
           ...
1699       Zimbabwe
1700       Zimbabwe
1701       Zimbabwe
1702       Zimbabwe
1703       Zimbabwe
Name: country, Length: 1704, dtype: category
Categories (142, object): ['Afghanistan', 'Albania', 'Algeria', 'Angola', ..., 'West Bank and Gaza',
                           'Yemen, Rep.', 'Zambia', 'Zimbabwe']>

In [ ]:
#count the number of countries in this dataset?
Number_countries = df['country'].drop_duplicates()
Number_countries.shape

(142,)

In [ ]:
#which country had the lowest life expectancy in 2007?
df_2007 = df[df["year"] == 2007]
df_2007[df_2007.life_exp == df_2007.life_exp.min()]

        country  year  life_exp      gdp_cap
1463  Swaziland  2007    39.613  4513.480643

In [ ]:
#which country had highest gdp per capita in 2007?
df_2007[df_2007.gdp_cap == df_2007.gdp_cap.max()]

     country  year  life_exp      gdp_cap
1151  Norway  2007    80.196  49357.19017

In [ ]:
#which country had the highest GDP in 2007?
gdp_all['gdp'] =gdp_all.gdp_cap*gdp_all.population
gdp_2007= gdp_all[gdp_all['year']==2007]

In [ ]:
#is there any change in the trend from 1952 to 2007 in life expectancy?

ax= sns.boxplot[x='year',y='life_exp',data=df]

In [ ]:
#which continent has the lowest life expectancy in 2007?

sns.boxplot(x='continent',y='life_exp'data=df)

In [ ]:
sns.scratterplot(x="gdp")